.homepage {
  background-color: #fcfcfc;
  color: #3c4852;
}

.topdiv {
  /* width: 100%; */
  margin: 100px 190px;
  margin-top: 0px;
  /* background-color: blueviolet; */
  height: 488px;
  background-image: url("../images/top1.png");
  background-repeat: no-repeat;
  background-size: contain;
}

#toplink > a {
  margin-left: 30px;
  color: #08bd80;
  font-weight: bold;
  font-size: 14px;
  /* background-color: aqua; */
}
#toplink {
  margin-top: 20px;
}
.heading {
  padding-top: 150px;
  /* background-color: rgb(115, 147, 175); */
  width: 500px;
  font-size: 55px;
  /* background-color: aqua; */
}

.carddiv {
  display: flex;
  flex-wrap: wrap;
  margin: 100px 190px;
  justify-content: space-between;
  line-height: 20px;
}
.carddiv > div {
  width: 30%;
}
.carddiv > div > p {
  font-size: 16px;
  /* letter-spacing: 1.2px; */
  /* line-height: 20px; */
}
.carddiv > div > img {
  width: 100%;
}

.appdiv {
  display: flex;
  /* font-size: 14px; */
}

.getappdiv {
  margin: 100px 190px;
  display: flex;
  justify-content: space-around;
  /* border: 2px solid black; */
  /* box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px; */
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}
.galeft > p {
  font-size: 20px;
  width: 400px;
}

.mobile {
  width: 450px;
}
.applink {
  width: 150px;
  height: 50px;
  margin-right: 18px;
}

.galeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: rgb(180, 33, 33); */
}
.galeft > p {
  /* font-size: 50px; */
  margin-bottom: 40px;
}

.galeft > h2 {
  font-size: 40px;
  width: 350px;
}
/* h2 {
  font-size: 40px;
} */
.startlearningdiv {
  display: flex;
  justify-content: space-between;
  margin: 100px 190px;
}
.startlearningdiv > img {
  width: 50%;
}
.startlearningdiv > div {
  width: 50%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}
.startlearningdiv > div > h2 {
  font-size: 40px;
}
.startlearningdiv > div > p {
  font-size: 20px;
  width: 350px;
}
#lb {
  width: 200px;
  /* background-color: brown; */
  font-size: 20px;
  margin-top: 30px;
  padding: 20px 20px;
}

#lb {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
#lb:hover,
#lb:focus,
#lb:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

@media screen and (max-width: 950px) {
  .carddiv {
    flex-wrap: wrap;
    justify-content: center;
    /* margin: auto; */
  }

  .carddiv > div {
    width: 100%;
  }
}
